/* Header design */
.heade-superior {
  border-color: #005db9;
  border-style: solid;
}
.header-img {
  width: 80%;
}
.badge-custom{
  background-color: #fff;
  color: #005db9;
  font-size: 3rem;
}
/* Header design */
/* Bienvenido design */
.bienvenido-img {
  width: 50%;
  margin-left: 1rem;
}
/* Bienvenido design */
/* Producto design */
.producto-img {
  width: 100%;
}
.border-producto {
  border-bottom-color: #005db9;
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: #fff;
  border-style: solid;
}
.header-tabla{
  background-color: #005db9;
  color: #fff;
}
.carrito{
  background-color: #c2c2c2;
  color: #005db9;
  height: 100%;
}
.lista{
  overflow: auto;
  max-height: 25rem;
}
/* Producto design */













/* Login design */
.login-back {
  background-color: #1d2f55;
}
.row-space-card-login{
  margin-top: 5%;
}
.row-space-login-image{
  margin-top: 5%;
}
.row-space-login{
  margin-top: 5%;
}
.card-login {
  box-shadow: .5rem .5rem .1rem #4a5882;
}
.form-control-login{
  height: calc(2.5em + .75rem + 2px);
  border-left-style: solid;
  border-left-color:#4a5882;;
  border-left-width: .5rem;
  border-bottom-color:#4a5882;;
  border-top-color:white;
  border-right-color:white;
  background-color:#f0f0f0;
}
.form-control-login:focus {
  color:#495057;
  background-color:#fff;
  border-color:#4a5882;
  outline: 0;
  box-shadow: 0 0 0 .2rem#4a5882;
}
.login-img {
  width: 100%;
}
/* Login design */
/* Header design */


.header-admin {
  background-color: #6d7d9d;
  color: white;
}
.header-control {
  background-color: #435e97;
  color: white;
}
.header-center {
  margin-left: 20%;
}
.header-right{
  margin-right: 0%;
}
.icon-position-header{
  position: absolute;
  margin-top: .1rem;
  margin-left: -1.5rem;
}
.icon-position-header-dropdown{
  position: absolute;
  margin-top: .1rem;
  margin-left: -1.5rem;
}
.navbar-toggler-icon::before {
  font-family: "Material Icons";
  content: "\e85d";
  color: white;
}

/* Buttons design */
.button-primary-custom{
  background-color: #4a5882;
  color: white;
  box-shadow: .5rem .5rem .1rem #bfbfbf;
}
.button-primary-custom:hover{
  text-decoration-line: underline;
  color: white;
}
.button-primary-custom:active {
  background-color: #1d2f55;
}
.button-primary-custom:focus {
  outline: 0;
  background-color: #1d2f55;
  box-shadow: 0 0 0 .2rem #4a5882;
}
.button-primary-export{
  background-color:#ffffff;
  color:#1d2f55;
  border-color:#1d2f55;
  box-shadow: .5rem .5rem .1rem #4a5882;
}
.button-primary-export:hover{
  text-decoration-line: underline;
  color: 1d2f55;
}
.button-primary-export:active {
  background-color: #1d2f55;
  color: white;
}
.button-primary-export:focus {
  outline: 0;
  background-color: #1d2f55;
  color: white;
  box-shadow: 0 0 0 .2rem #4a5882;
}
/* Buttons design */
/* Catalogs design */
.row-space{
  margin-top: 1%;
}
.row-space-bottom{
  margin-bottom: 1%;
}
.row-space-content{
  margin-top: 1%;
  margin-bottom: 2%;
}
.label-form{
  color: #666;
}
.top-caption{
  caption-side: top;
}
.chekbox{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
}
.chekbox-two-cols{
  /* position: absolute; */
  top: .5rem;
  left: 1.5rem;
  height: 150%;
  width: 10%;
}
.chekbox-form{
  height: 60%;
  width: 10%;
}
.activeRow {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #4a5882 !important;
}
.activeRow:hover {
  color: rgb(168, 168, 168) !important;
  font-weight: bold;
  background-color: #4a5882 !important;
}
.form-check-inline-gen {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2rem;
  padding-top: .5rem;
  margin-right: .75rem;
}
.small-validation {
  display: block;
  margin-top: .25rem;
  color:#f00 !important;
  font-size: medium;
}
.top-caption {
  caption-side: top;
  color: black;
  font-size: xx-large;
}
.badge-custom-header{
  background-color: #4a5882;
  color: white;
}
.div-new-column {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: .1rem solid #ccc;
  padding: 0;
  margin-top: 1%;
}
.div-btn-log {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: .1rem solid #ccc;
  padding: 0;
  margin-bottom: 1%;
}
.form-check-inline-rol {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2rem;
  padding-top: .5rem;
}
/* Catalogs design */
/* Catalogs design media */
@media (max-width: 576px) {
  .chekbox-two-cols{
    position: inherit;
    height: 60%;
    width: 10%;
  }
}
@media (min-width: 577px) and (max-width: 767.98px) {
  .chekbox-two-cols{
    position: inherit;
    top: .5rem;
    left: 3rem;
    height: 60%;
    width: 10%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .chekbox-two-cols{
    position: inherit;
    top: .5rem;
    left: 3rem;
    height: 60%;
    width: 10%;
  }
}
/* Catalogs design media */
/* Loader design*/
#processModal {
  display: block;
  position: absolute;
  top: 35%;
  left: 45%;
  height: auto;
  padding: 10px 15px 10px 15px;
  border: 3px solid #ababab;
  box-shadow:1px 1px 10px #ababab;
  border-radius:20px;
  background-color: white;
  z-index: 1052;
  text-align:center;
  overflow: hidden;
}
#processModalFade {
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1053;
  -moz-opacity: 0.8;
  opacity: .10;
  filter: alpha(opacity=80);
}
#processModalLoader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #1d2f55;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Loader design*/
/* Alert design*/
.float-alert {
  border-radius: 6px 6px 6px 6px;
  top: 10%;
  right: 1%;
  position: fixed;
  width: 30%;
  z-index: 15;
  display: none;
}
/* Alert design*/
/* Home design */
.card-home {
  background-color: #4a5882;
  color: white;
}
.btn-outline-custom{
  color:#4a5882;
  border-color:#4a5882;
}
.btn-outline-custom:hover {
  color:#fff;
  background-color:#4a5882;
  border-color:#4a5882;
}
/* Home design */
/* Pagination design */
.button-pagination{
  background-color: #a42145;
  color: white;
  border-radius: 2rem;
}
.button-pagination:hover{
  text-decoration-line: underline;
  color: #13322B;
}
.anterior-pagination{
  margin-left: 40%;
}
/* Pagination design */